.confirmation-modal-div {
    position: relative;
    top: 40%;
    margin: auto;
    width: 30%;

    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding-bottom: 10px;
}

.confirmation-modal-div:focus {
    outline: none;
}

.modal-header {
    display: flex;
    justify-content: center;
    background-color: #3D195B;
    color: #00FF87;
    border-radius: 16px 16px 0 0;
    padding: 10px;

    font: 700 normal 25px "American Typewriter", serif;
}

.title-text {
    display: flex;
    direction: rtl;
    justify-content: center;
    color: #3D195B;
    font: 700 normal 20px Roboto, serif;
    margin-bottom: 20px;
    text-align: center;
}

#circular_progress {
    color: #3D195B;

}

#input-container {
    display: flex;
    padding-bottom: 20px;
    margin: 20px;
    justify-content: space-between;
    flex-direction: column;

    font: 600 normal 15px "American Typewriter", serif;
}

.inputs {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #3D195B;
    border-radius: 4px;
    padding: 3px;
}

#dataset-input {
    width: 45%;
    background: linear-gradient(90deg, #00FF87 0%, #9986a8 100%);
}

.modal-confirm-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    width: 200px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    margin: auto;

    color: #3D195B;
    background: #00FF87;
    font: 800 normal 15px "American Typewriter", serif;
    border: 2px solid #3D195B;
    letter-spacing: 1px;
}

.modal-confirm-button:hover {
    opacity: 0.65;
}

.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}